body {
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    max-width: 1400px;
    font-family: 'Courgette', cursive;
    scroll-behavior: smooth;
}
.fl-left {
    float: left;
}
.fas {
    font-size: 14px;
}
.heading-bottom-border {
    border-radius: 20px;
}
h2 {
    padding: 10px;
    border-bottom: 1px solid #E9A73E;
}
a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
.flex {
    display: flex;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.main-color {
    color: #E9A73E;
}
.bg-color {
    color: #282828;
}
.text-align-center {
    text-align: center;
}
.shadow {
    -webkit-box-shadow: 0px 0px 4px 3px rgba(231,166,26,1);
    -moz-box-shadow: 0px 0px 4px 3px rgba(231,166,26,1);
    box-shadow: 0px 0px 4px 3px rgba(231,166,26,1);
}
.header-wrapper {
    height: auto;
}
.top-wrapper {
    height: 100px;
}
.main-top-wrapper {
    display: flex;
    justify-content: flex-end;
}
.main-logo-div {
    width: 10%;
    height: 200px;
    margin: auto;
}
.logo-div {
    width: 10%;
    height: 100px;
}
.logo-div img {
    width: 60px;
    transition: .5s ease-in-out;
}
.top-wrapper-heading {
    width: 30%;
    display: flex;
    align-items: center;
}
.top-wrapper-heading h1 {
    font-size: 22px;
    margin: 0 0 0 10px;
}
.top-wrapper-heading h2 {
    font-size: 22px;
    margin: 0 0 0 10px;
    border: none;
    margin: 0;
}
.nav {
    width: 60%;
}
.nav ul {
    list-style: none;
    padding: 0;
    height: 100%;
}
.list-items {
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}
.nav ul li {
    padding: 10px;
    margin-right: 10px;
}
.nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    padding: 10px;
    transition: .5s ease-in-out;
}
.heading-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.title-wrapper {
    height: 600px;
    color: #282828;
    padding: 10px;
    background-color: #f2f2f2;
    flex-direction: column;
    background-image: url(../images/restaurant-2697945_1920.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.title h1 {
    text-align: center;
    font-size: 6vh;
    color: #E9A73E;
    border-radius: 20px;
    padding: 10px;
    width: 400px;
    margin: auto;
    text-shadow: 1px 1px #282828 ;
}
.title p {
    font-size: 30px;
    text-align: center;
    color: #E9A73E;
    text-shadow: 1px 1px #282828 ;
    padding: 10px;
}
.header-btns-wrapper {
    bottom: 20px;
    right: 40px;
    width: 260px;
    margin: 20px auto;
    justify-content: space-around;
}
.btn {
    padding: 5px;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    transition: .5s ease-in-out;                                                                                                                                                                                                                                                                              
}
.primary-btn {
    background-color: #E9A73E;
}
.alternative-btn {
    border: 1px solid white; 
    background-color: rgba(255, 255, 255, 0.7);
}
.us-introduction-wrapper {
    height: 400px;
    margin: 20px 0 20px 0;
    padding: 20px;
    text-align: justify;
    font-size: 20px;
}
.us-img {
    height: 300px;
    width: 300px;
    background-image: url(../images/header.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    shape-outside: circle();
    margin: 60px 20px 20px 20px;
}
.about-wrapper {
    height: auto;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #f1f1f1;
    clear: left;
}
.services-wrapper {
    height: auto;
    margin: auto;
    padding: 20px;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
.banquet-wrapper, .food-wrapper, .accommodation-wrapper, .bathtube-wrapper  {
    width: 40%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    margin: 20px 0;
}
.default-info-shape {
    height: 250px;
    width: 250px;
    margin: auto;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    transition: .5s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}
.bubbles-container {
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    margin: auto;
    margin-top: 10px;
}
.bubble {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 2px;
    background: #d3d3d3;
    border-radius: 50%;
    cursor: pointer;
}
.bubble:hover {
    background: #d3d3d3;
}
.service-desc {
    text-align: justify;
    height: 150px;
    width: 80%;
    margin: auto;
}
.service-desc p {
    font-size: 18px;
    margin-bottom: 40px;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #E9A73E;
    color: #5D5C61;
}
.read-more {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
}
#services-modal-wrapper {
    position: absolute;
    width: 900px;
    height: 700px;
    background: rgba(0, 0, 0, 0.7);
    left: 13%;
    color: #d3d3d3;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: .5s ease-in-out;
}
.scale-0 {
    transform: scale(0);
}
.scale-1 {
    transform: scale(1);    
}
#services-modal-closeBtn {
    font-size: 22px;
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
}
.gallery-wrapper {
    height: auto;
    padding: 20px;
}
.photo-gallery {
    padding: 10px;
}
.sample-wrapper {
    width: 40%;
    height: 600px;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    padding: 10px;
}
.sample {
    padding: 5px;
    transition: .5s ease-in-out;
}
#modal-img {
    border-radius: 10px;
}
.myImg {
    border-radius: 5px;
    transition: .5s ease-in-out;
    height: 140px;
}
.sample-showcase {
    width: 60%;
    height: 600px;
}
.sample-showcase-img {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    font-size: 20px;
}
.prev, .next {
    display: inline-block;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 50%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: white;
    font-weight: bold; 
    background-color: rgba(233, 167, 62, 0.9);
    border-radius: 50%;
}
.next {
    right: 45px;
}
.prev {
    left: 45px;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}
::-webkit-scrollbar-thumb {
background: #E9A73E; 
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background:#a67d3d; 
}
/* Paslaugos */
.services-introduction-wrapper {
    height: 600px;
    margin: 0px 0 20px 0;
}
.services-bg {
    height: 100%;
    width: 100%;
    top:0;
    background-image: url(../images/duzges-sodyba-lauko-stalai.jpg);
    background-position: top;
    background-size: cover;
    border-radius: 20px;
}
.services-heading-wrapper {
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.services-heading-wrapper h2 {
    font-size: 42px;
    border-bottom: none;
    color: #E9A73E;
    text-shadow: 1px 1px #282828;
}
.services-heading-wrapper h1 {
    font-size: 42px;
}
.service-item-wrapper {
    top: 30px;
    right: 30px;
    width: 400px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}
.service-item {
    height: 100px;
    width: 100px;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.service-item i {
    font-size: 30px;
    color: #E9A73E;
}
.services-banquet-wrapper {
    height: auto;
    margin: 20px 0 20px 0;
}
.main-banquet-description {
    width: 35%;
    margin: 20px;
    padding: 20px;
}
.main-banquet-description p {
    font-size: 20px;
    text-align: justify;
    color: #5D5C61;
}
.main-banquet-description h2 {
    text-align: center;
}
.main-banquet-img {
    width: 65%;
    display: flex;
    align-items: center;
}
.right {
    justify-content: flex-end;
}
.left {
    justify-content: flex-start;
}
.main-banquet-img img {
    border-radius: 10px;
}
.tablink-wrapper {
    margin-top: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.tablink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    padding: 20px;
    margin-right: 10px;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    border-bottom: 2px solid  #5D5C61;
}
.active-tablink {
    border-bottom: 2px solid #E9A73E;
}
/* Kontaktai */
.contacts-container {
    height: 600px;
    justify-content: space-between;
    margin-top: 30px;
    padding: 20px;
    /* border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.contacts-top-bg {
    height: 100%;
    width: 100%;
    top:0;
    background-image: url(../images/duzges-sodyba-lauko-terasa.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.contacts-bg {
    width: 100%;
    height: 100%;
}
.form-wrapper {
    top:20px;
    left:20px;
    width: 700px;
    height: 580px;
    padding: 20px;
}
.contacts-wrapper {
    flex-direction: column;
    height: auto;
    width: 400px;
    padding: 20px;
    justify-content: center;
    top:20px;
    right:20px;
}
.contacts-item {
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
    border-radius: 20px;
    border-bottom: 1px solid #E9A73E;
}
.contact-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #E9A73E;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.contact-icon i {
    font-size: 22px;
    color: #E9A73E;
}
.contact-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts-item p {
    font-weight: bold;
    color: #E9A73E;
}
.social span {
    padding: 5px;
    cursor: pointer;
}
.form-item-wrapper {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px;
}
.form-item {
    margin-bottom: 20px;
}
.form-label label {
    color: #E9A73E;
}
.form-message-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.message-length {
    color: black;
    font-size: 12px;
}
.form-message-wrapper textarea {
    outline: none;   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}
.form-input input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 220px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.7);
}
.submit-wrapper {
    width: 50%;
    margin: 0 auto;
}
.submit-wrapper input[type=submit] {
    outline: none;   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: rgba(233, 167, 62, 1);
    font-weight: bold;
    text-transform: uppercase;
}
.message-progress-bar-wrapper {
    height: 15px;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto 0 auto;
}
.progress-bar {
    height: 100%;
    width: 0%;
    border-radius: 10px;
    top:0;
    left: 0;
    background-color: #35a333;
    font-size: 12px;
    transition: .5s ease-in-out;
    display: none;
}
.map-container {
    width: 100%;
    margin-top: 20px;
}
.map-container p {
    top: 10px;
    right: 10px;
    padding: 5px;
    border: 1px solid black;
    background-color: rgba(233, 167, 62,1);
    border-radius: 10px;
}
.map-container iframe {
    border-radius: 20px;
}
.map-link {
    width: 100%;
    margin-bottom: 20px;
}
.error {
    margin-left: 5px;
    color: red;
}
.success-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 200px;
    background: #d3d3d3;
    border: 1px solid black;
}
/* Footer */
.footer {
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    color: rgba(233, 167, 62, 0.9);
}
.footer-container  {
   padding: 20px;
   justify-content: space-around;
}
.footer-container h3 {
    margin-top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 5px;
}
.footer-section {
    width: 300px;
    text-align: center;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section ul li {
    margin-bottom: 10px;
}
.footer-section ul li a {
    color: rgba(255, 255, 255, 0.8);
}
.footer-info-text {
    color: rgba(255, 255, 255, 0.8); 
}
.copyrights {
    padding: 5px;
    margin-left: 10px;
}
.to-top-arrow {
    width: 100px;
    margin: 10px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tooltip {
    position: absolute;
    visibility: hidden;
    transform: translateY(30px);
}
.fa-arrow-alt-circle-up {
    font-size: 30px;
    transition: .2s ease-in;
}
#toIntro {
    color: rgba(255, 255, 255, 0.8);  
}
/* Mobile friendly */
.burger-wrapper {
    height: 20px;
    width: 30px;
    top: 20px;
    right: 20px;
    padding: 5px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
}
.burger-item {
    width: 80%;
    margin: auto;
    height: 2px;
    background-color: black;
}
.burger-item-main-color {
    background-color: #E9A73E;
}
.mobile-nav-wrapper {
    height: 350px;
    width: 0px;
    top: 0;
    right: -10px;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all .5s ease-in-out;
    z-index: 1;
    border-radius: 20px;
}
.mobile-nav-heading {
    display: none;
}
.isActiveMobileNav {
    width: 250px;
    right: 0;
}
.mobile-nav-ul {
    margin-top: 40px;
    list-style: none;
    height: 70%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #E9A73E;
    display: none;
}
.isVisible {
    display: flex;
}
.isVisibleNavHeading {
    display: block;
}
.mobile-nav-ul li {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
}
.mobile-nav-ul li a {
    color: #E9A73E;
}
.mobile-nav-ul li i {
    float: left;
    color: #E9A73E;
}
@media only screen and (max-width: 769px) {
    .nav {
        display: none;
    }
    .top-wrapper {
        height: 80px;
    }
    .top-wrapper-heading {
        width: 50%;
    }
    .top-wrapper-heading h1 {
        font-size: 18px;
    }
    .top-wrapper-heading h2 {
        font-size: 18px;
    }
    .logo-div {
        height: 80px;
        width: 20%;
    }
    .main-logo-div {
        height: 150px;
    }
    .main-logo-div img {
        width: 60px;
    }
    .logo-div img {
        width: 50px;
    }
    .burger-wrapper {
        display: flex;
    }
    .title-wrapper {
        width: 90%;
        margin: auto;
        height: 400px;
        margin-top: 20px;
    }
    .title h1 {
        width: 70%;
        font-size: 26px;
    }
    .title p {
        font-size: 18px;
        padding: 5px;
    }
    .us-introduction-wrapper {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .us-img {
        width: 200px;
        height: 200px;
        float: none;
        margin: 10px;
    }
    .services-wrapper {
       width: 100%;
       padding: 0;
       align-items: center;
    }
    .banquet-wrapper, .food-wrapper, 
    .accommodation-wrapper, .bathtube-wrapper {
        width: 90%;
    }
    .service-desc p {
        font-size: 16px;
    }
    .gallery-wrapper {
        border-radius: 20px;
        margin-top: 20px;
    }
    .photo-gallery {
        display: block;
        padding: 0;
    }
    .sample-wrapper {
        width: 100%;
        height: 120px;
        padding: 0;
        margin-bottom: 20px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: left;
    }
    .myImg {
        width: 120px;
        height: 90px;
    }
    .sample-showcase {
        width: 100%;
        height: auto;
    }
    .sample-showcase-img {
        height: auto;
    }
    #modal-img {
        width: 300px;
        height: 250px;
    }
    #sample-showcase-alt {
        width: 90%;
        margin: 20px auto 0 auto;
        font-size: 18px;
    }
    .prev {
        left: 0;
    }
    .next {
        right: 0;
    }
    /* Paslaugos mobile */
    .services-introduction-wrapper {
        height: 350px;
        margin-top: 20px;
    }
    .services-heading-wrapper h2 {
        font-size: 32px;
    }
    .service-item {
        width: 60px;
        height: 60px;
    }
    .service-item i {
        font-size: 20px;
    }
    .service-button {
        width: 30px;
        height: 20px;
        top: 10px;
        left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .service-line {
        width: 80%;
        margin: auto;
        height: 2px;
        background-color: black;
        margin-bottom: 1px;
    }
    .tablink-wrapper {
        display: none;
    }
    .main-banquet {
        height: auto;
        flex-direction: column;
        display: block;
    }
    .main-banquet-description {
        width: 90%;
        margin: auto;
    }
    .main-banquet-img {
        width: 90%;
        margin: auto;
        padding-bottom: 20px;
    }
    .main-banquet-img img {
        width: 90%;
        margin: auto;
    }
    /* Kontaktai */
    .contacts-container {
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0;
    }
    .contacts-bg {
        display: none;
    }
    .form-wrapper, .contacts-wrapper {
        position: relative;
        height: auto;
        width: 90%;
        margin: auto;
        padding: 0;
        top:0;
        left:0;
        margin-bottom: 20px;
        padding: 10px;
    }
    .form-item-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .map-container {
        display: block;
    }
    .map-link {
        width: 100%;
        margin-bottom: 20px;
    }
    .map-container p {
        top: 20px;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-section {
        margin-bottom: 50px;
    }
    .footer-section h3 {
        border: none;
    }
}
@media only screen and (min-width: 550px) and (max-width: 768px) {
    #modal-img {
        width: 400px;
        height: 300px;
    }   
}
@media only screen and (min-width: 769px) and (max-width: 1100px) {
    .nav {
        width: 70%;
    }
    .title h1 {
        font-size: 32px;
    }
    .title p {
        font-size: 24px;
    }
    .us-introduction-wrapper {
        height: auto;
    }
    .banquet-wrapper, .food-wrapper, 
    .accommodation-wrapper, .bathtube-wrapper {
        width: 60%;
    }
    .gallery-wrapper {
        padding: 10px;
    }
    .photo-gallery {
        flex-direction: column;
    }
    .sample-wrapper {
        width: 100%;
        height: 200px;
        justify-content: left;
        flex-wrap: nowrap;
    }
    .sample-showcase {
        width: 100%;
    }
    .service-button {
        display: none;
    }
    .tablink {
        font-size: 13px;
        width: 130px;
        padding: 10px;
        text-align: center;
    }
    .main-banquet {
        height: auto;
        display: block;
    }
    .main-banquet-description {
        width: 90%;
        margin: auto;
    }
    .main-banquet-img {
        width: 90%;
        margin: auto;
        padding-bottom: 20px;
    }
    .main-banquet-img img {
        width: 90%;
        margin: auto;
    }
    .tablink-wrapper {
        display: none;
    }
    #services-modal-wrapper {
        width: 90%;
        margin: auto;
    }
    #service-modal-img {
        width: 600px;
    }
    .contacts-container {
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0;
    }
    .contacts-bg {
        display: none;
    }
    .form-wrapper {
        position: relative;
        height: auto;
        width: 90%;
        margin: auto;
        padding: 0;
        top:0;
        left:0;
        margin-bottom: 20px;
        padding: 10px;
    }
    .form-item-wrapper {
        flex-direction: row;
    }
    .contacts-wrapper {
        position: relative;
        margin: auto;
    }
    .map-container {
        display: block;
    }
    .map-link {
        width: 100%;
        margin-bottom: 20px;
    }
    .map-container p {
        top: 20px;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-section {
        margin-bottom: 50px;
    }
    .footer-section h3 {
        border: none;
    }
    .myImg {
        width: 230px;
        height: 160px;
    }
}
@media only screen and (min-width: 1101px) and (max-width: 1250px) {
    #modal-img {
        width: 500px;
        height: 400px;
    }
    .service-button {
        display: none;
    }
    .form-wrapper {
        width: 600px;
    }
    .form-item-wrapper {
        width: 90%;
    }
    .form-message-wrapper {
        width: 90%;
    }
    .tablink-wrapper {
        display: none;
    }
    .main-banquet {
        display: block;
    }
    .main-banquet-description {
        width: 90%;
        margin: auto;
        padding: 20px; 
    }
    .main-banquet-description p {
        font-size: 20px;
        text-align: justify;
        color: #5D5C61;
    }
    .main-banquet-description h2 {
        text-align: center;
    }
    .main-banquet-img {
        width: 75%;
        margin: auto;
    }
}
@media only screen and (min-width: 1251px) {
    .btn:hover, .myImg:hover {
        -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
    }
    .mini-nav li a:hover {
        color: #E9A73E;
    }
    .fabfb:hover {
        color: #3b5998
    }
    .fabyt:hover {
        color: #FF0000;
    }
    .main-banquet {
        height: 500px;
        justify-content: space-between;
        margin-bottom: 20px;
        display: none;
    }
    #big-banquet-section {
        display: flex;
    }
    .service-item:hover {
        height: 120px;
        width: 120px;
    }
    .tablink:hover {
        background: #f1f1f1;
    }
    .service-button {
        display: none;
    }
    .prev:hover, .next:hover {
        color: #282828;
        border: 1px solid #282828;
    }
    nav ul li a:hover {
        color: #E9A73E;
    }
    .service-item-wrapper {
        display: flex;
    }
    .to-top-arrow {
        cursor: pointer;
    }
    .fa-arrow-alt-circle-up:hover {
        color: rgba(255, 255, 255, 0.8); 
    }
    .fa-arrow-alt-circle-up:hover ~ .tooltip {
        visibility: visible;
    }
    #toIntro {
        cursor: pointer;
    }
}